<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sagiri.mapper.DetailMapper">
    <!--    查全部信息-->
    <select id="selectDetailByPID" parameterType="int" resultType="com.sagiri.pojo.Detail">
        SELECT * FROM detail WHERE PID = #{pid}
    </select>

</mapper>
