<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sagiri.mapper.ProductMapper">
    <!--    查全部信息-->
    <select id="selectTopProducts" resultType="com.sagiri.pojo.Product">
        SELECT * FROM product
        ORDER BY PSales DESC
            LIMIT 4
    </select>

    <select id="selectAllProducts" resultType="com.sagiri.pojo.Product">
        SELECT * FROM product
    </select>

    <select id="selectProductsByTid" parameterType="int" resultType="com.sagiri.pojo.Product">
        SELECT * FROM product WHERE Tid = #{tid}
    </select>

    <!-- 在 XML 映射文件中定义一个模糊查询 -->
    <select id="selectProductsByKeyword" resultType="com.sagiri.pojo.Product">
        SELECT *
        FROM product
        WHERE PName LIKE CONCAT('%', #{keyword}, '%')
    </select>

    <select id="selectProductById" parameterType="int" resultType="com.sagiri.pojo.Product">
        SELECT * FROM product WHERE PID = #{pid}
    </select>
    
    <update id="updatePSalesByPID" parameterType="com.sagiri.pojo.Product">
        UPDATE product
        SET PSales = PSales + #{pSales}
        WHERE PID = #{pid}
    </update>

    <update id="updatePInventoryByPID" parameterType="com.sagiri.pojo.Product">
            UPDATE product
            SET PInventory = PInventory - #{pInventory}
            WHERE PID = #{pid}
    </update>

</mapper>
